

<div class="loginmethod">
<form action="/users/login" method="POST">
<legend>Login</legend>
<div class="formRegisterGroup">
    <label for="Email">Email</label>
    <input type="Email" id="Email" name="Email" class="nameRegisterclass" placeholder="Add Email"/>
</div>
<div class="formRegisterGroup">
    <label for="Password">Password</label>
    <input type="Password" id="Password" name="Password" class="nameRegisterclass" placeholder="Create Password"/>
</div>
<button type="submit" class="submitButtonRegister">Login</button>
</form>
<p class="accountLogin">Need An Account? <a href="/users/register">Create Account</a></p>
</div> 





