<h1>Login</h1>

<div>
<form action="/users/login" method="POST">

<div class="formRegisterGroup">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" class="nameRegisterclass" placeholder="Add Email"/>
</div>

<div class="formRegisterGroup">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" class="nameRegisterclass" placeholder="Create Password"/>
</div>

<button type="submit" class="submitButtonRegister">Login</button>
</form>

<p class="accountLogin">Need An Account? <a href="/users/register">Create Account</a></p>

</div> 