{{!-- {{create a form with a push method}} --}}

<h1>Register</h1>

<div>
<form action="/users/register" method="POST">

<div class="formRegisterGroup">
    <label for="firstname">First Name</label>
    <input type="firstname" id="firstname" name="firstname" class="nameRegisterclass" placeholder="First Name"/>
</div>

<div class="formRegisterGroup">
    <label for="Lastname">Last Name</label>
    <input type="Lastname" id="Lastname" name="Lastname" class="nameRegisterclass" placeholder="Last Name"/>
</div>

<div class="formRegisterGroup">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" class="nameRegisterclass" placeholder="Add Email"/>
</div>

<div class="formRegisterGroup">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" class="nameRegisterclass" placeholder="Create Password"/>
</div>

<div class="formRegisterGroup">
    <label for="password2">Confirm Password</label>
    <input type="password2" id="password2" name="password2" class="nameRegisterclass" placeholder="Confirm Password"/>
</div>

<button type="submit" class="submitButtonRegister">Register</button>
</form>

<p class="accountLogin">Have An Account? <a href="/users/login">Login</a></p>

</div> 