<h1>{{viewTitle}}</h1>

<form action="/scores" method="POST">
    <label> Course</label>
    <input type="text" name="Course" placeholder="Course">
    <label>Score</label>
    <input type="text" name="Scorey" placeholder="Score">
    <button type="submit"> Submit</button>
</form>