<div class="welcomey">
    <div class="container">
        <p>Create a New User or Login</p>
        <a href="/users/register" class="userRegisterButton">Register</a>
        <a href="/users/login" class="loginButton">Login</a>
    </div>
</div>